<%include header%>
<%include navigator%>
<div class=" top-title row col-md-12">
    <div class="jumbotron-fluid">
        <h2 class="page-header"> Profile for: <%= user.username%></h2>
        <p>Home Automation Camera:</p>
    </div>
    <div class="row">
        <a type="button" href="./add_camera" class="btn btn-primary btn-lg">Add New Camera</a>
    </div>
</div>
<div class="device-list-div card-block">

    <% if (camera.length > 0) { %>
        <!--loop through each item-->
    <% camera.forEach(function(cam){ %>
        <div class="camera-div card col-md-4" id="<%= cam._id%>_div">
            <h2 class="card-title">Name: <%= cam.camera.name %> </h2>
            <p id="<%= cam._id%>_status" >Camera Status</p>
            <h4 class="card-subtitle"> Location: <%= cam.camera.location %> </h4>
            <img class="card-img-top center-block" data-src="..." src="images/security-camera-4-512.jpg" alt="Camera" height="25%" width="25%">
            <p class="card-title">Location: <%= cam.camera.location %></p>
            <p class="card-footer"> ID: <%= cam._id %></p>
            <a type="button" class="btn-danger btn-sm" href="./remove_camera/<%= cam._id%>">Remove Camera </a>
            <a type="button" class="btn-warning btn-sm" href="#./edit_camera/<%= cam._id%>">Edit Camera</a>
                <select class="camera-switch" id="<%= cam._id%>_switch" name="flip-min" id="<%= cam._id%>" data-role="slider">
                    <option value="off">Switch Off</option>
                    <option value="on" selected >Switch On</option>
                </select>
        </div>
        <script type="text/javascript">
            if ( $('#<%= cam._id%>_switch').val() === 'on'){

                $('#<%= cam._id%>_status').css("background-color", "green");
                $('#<%= cam._id%>_status').html("Online");

            }

            if ( $('#<%= cam._id%>_switch').val() === 'off'){
                $('#<%= cam._id%>_status').html("Ofline");
            }

        </script>
    <% }); %>
   <% }%>
    <script>
        $('.camera-switch').onchange(function(x){
            varoptionSelected=$("option:selected",this);
            varvalueSelected=this.val();
            if(valueSelected =='on'){
                $('.camera-div').css("background-color","green");
                alert("hi");
            }

            if(valueSelected == 'off'){
                alert("hi");

                $('.camera-div').css("background-color","red");
            }
        })

    </script>


</div>




<%include footer%>

